/**
 * Define palette colors.
 */

palette--blue    ?= #268BD2
palette--cyan    ?= #2AA198
palette--green   ?= #859900
palette--magenta ?= #D33682
palette--orange  ?= #CB4B16
palette--red     ?= #DC322F
palette--violet  ?= #6C71C4
palette--yellow  ?= #B58900

/**
 * Define palette grayscale.
 */

palette--base     ?= #657B83
palette--light    ?= #839496
palette--lighter  ?= #93A1A1
palette--lightest ?= #EEE8D5
palette--dark     ?= #586E75
palette--darker   ?= #073642
palette--darkest  ?= #002B36
