/**
 * Module dependencies.
 */

json('raw-solarized/colors.json', true, 'solarized--')

/**
 * Define palette colors.
 */

palette--blue    ?= solarized--blue-hex
palette--cyan    ?= solarized--cyan-hex
palette--green   ?= solarized--green-hex
palette--magenta ?= solarized--magenta-hex
palette--orange  ?= solarized--orange-hex
palette--red     ?= solarized--red-hex
palette--violet  ?= solarized--violet-hex
palette--yellow  ?= solarized--yellow-hex

/**
 * Define palette grayscale.
 */

palette--gray-base     ?= solarized--base00-hex
palette--gray-light    ?= solarized--base0-hex
palette--gray-lighter  ?= solarized--base1-hex
palette--gray-lightest ?= solarized--base2-hex
palette--gray-dark     ?= solarized--base01-hex
palette--gray-darker   ?= solarized--base02-hex
palette--gray-darkest  ?= solarized--base03-hex
